#canvas {
    /* position: fixed;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0; */
    background-color: #333
}

.compCard {
    width: 170px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#playButton {
    background-color: #505050;
}

#playButton.active {
    color: green;
}

.anchorBottom {
    background-color: #fc9c00;
    margin: 0 auto;
    width: 20px;
    height: 20px;
}

.anchorBottom.active {
    -webkit-animation: flashingOrange 1s infinite;
    /* Safari 4+ */
    -moz-animation: flashingOrange 1s infinite;
    /* Fx 5+ */
    -o-animation: flashingOrange 1s infinite;
    /* Opera 12+ */
    animation: flashingOrange 1s infinite;
    /* IE 10+, Fx 29+ */
}

.anchorTop {
    background-color: #0076fc;
    margin: 0 auto;
    width: 20px;
    height: 20px;
}

.anchorTop.active {
    -webkit-animation: flashingBlue 1s infinite;
    /* Safari 4+ */
    -moz-animation: flashingBlue 1s infinite;
    /* Fx 5+ */
    -o-animation: flashingBlue 1s infinite;
    /* Opera 12+ */
    animation: flashingBlue 1s infinite;
    /* IE 10+, Fx 29+ */
}

@keyframes flashingOrange {
    0%, 49% {
        background-color: #fc9c00;
        border: 3px solid #fc9c00;
    }
    50%, 100% {
        background-color: #fc9c00;
        border: 3px solid #404040;
    }
}

@keyframes flashingBlue {
    0%, 49% {
        background-color: #0076fc;
        border: 3px solid #0076fc;
    }
    50%, 100% {
        background-color: #0076fc;
        border: 3px solid #404040;
    }
}